[submodule "vendor/dotbot"]
	path = vendor/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vendor/tpm"]
	path = vendor/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
[submodule "vendor/catppuccin-alacritty"]
	path = vendor/catppuccin-alacritty
	url = https://github.com/catppuccin/alacritty/
	ignore = dirty
[submodule "vendor/starship.yazi"]
	path = vendor/starship.yazi
	url = https://github.com/Rolv-Apneseth/starship.yazi.git
