# os files
.DS_Store

# zsh files
config/zsh/.zcompcache
config/zsh/.zcompdump

# tmux plugins
config/tmux/plugins

# yazi plugins
config/yazi/plugins

# brew lock files
util/macos/brew/*.lock.json

# allow .github directory contents in nvim telescope find files results
!.github/
