# os files
.DS_Store

# zsh files
config/zsh/.zcompcache
config/zsh/.zcompdump
config/zsh/.zsh_plugins.zsh

# tmux plugins
config/tmux/plugins

# alacritty themes
config/alacritty/themes

# brew lock files
scripts/macos/brew/*.lock.json

# allow .github directory contents in nvim telescope find files results
!.github/
