# macOS specific aliases

- name: awake # prevent macOS from sleeping
  value: caffeinate
  if: eq .OS "darwin"
- name: cwd # copy current working directory path
  value: pwd | pbcopy
  if: eq .OS "darwin"
- name: ql # open file in macOS quicklook
  value: qlmanage -p ${@} > /dev/null 2> /dev/null
  type: function
  if: eq .OS "darwin"
- name: netspeed # check network speeds
  value: NetworkQuality
  if: eq .OS "darwin"
- name: icloud # change to icloud directory
  value: cd $HOME/Library/Mobile Documents/com~apple~CloudDocs/
  if: eq .OS "darwin"
- name: emptytrash # empty trashes
  value: sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*asl
  type: function
  if: eq .OS "darwin"
- name: pkgs # list installed packages
  value: brew leaves | column
  if: eq .OS "darwin"
- name: apps # list installed applications
  value: brew list --cask
  if: eq .OS "darwin"
- name: deps # list installed dependencies of packages
  value: brew deps --formula --for-each $(brew leaves)
  type: function
  if: eq .OS "darwin"
- name: dep-check # check that all brewfile deps are installed
  value: brew bundle check -v
  if: eq .OS "darwin"
- name: dep-refresh # install all brewfile deps
  value: brew bundle install
  if: eq .OS "darwin"
- name: dep-prune # remove all brew managed deps not specified in brewfile
  value: brew bundle cleanup
  if: eq .OS "darwin"
