// ---------------------------------------------------------- //
// zellij config                                              //
// ---------------------------------------------------------- //

// capture native tab events
keybinds {
    normal {
        bind "Super c" { Copy; }
        bind "Super Alt Left" { GoToPreviousTab; }
        bind "Super Alt Right" { GoToNextTab; }
        bind "Super w" { CloseTab; }
        bind "Super t" { NewTab; }
        bind "Super n" { NewPane; }
    }
}

load_plugins {}

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
    tab_bar {
        position "bottom"
    }
}

default_layout "compact"
simplified_ui true
theme "catppuccin-mocha"
show_startup_tips false
on_force_close "quit"

