#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: false,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "yellow"),
    preview_metadata_group_style: (fg: "yellow", modifiers: "Bold"),
    tab_bar: (
        active_style: (fg: "black", bg: "blue", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "blue", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "blue", modifiers: "Bold"),
    borders_style: (fg: "blue"),
    highlight_border_style: (fg: "blue"),
    symbols: (
        song: "-",
        dir: ">",
        playlist: "[",
        marker: "M",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    level_styles: (
        info: (fg: "blue", bg: "black"),
        warn: (fg: "yellow", bg: "black"),
        error: (fg: "red", bg: "black"),
        debug: (fg: "light_green", bg: "black"),
        trace: (fg: "magenta", bg: "black"),
    ),
    progress_bar: (
        symbols: ["█", "░", "█", "─", "█"],
        track_style: (fg: "blue"),
        elapsed_style: (fg: "blue"),
        thumb_style: (fg: "blue", bg: "#1e2030"),
        use_track_when_empty: false,
    ),
    scrollbar: (
        symbols: ["│", "█", "", ""],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "blue"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"),
                default: (kind: Text("Unknown Album"), style: (fg: "white"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
        (
            prop: (kind: Property(FileExtension),
                default: (kind: Text("-"))
            ),
            width: "8",
            alignment: Right,
        ),
    ],
    components: {},
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "3",
                borders: "ALL",
                pane: Pane(Tabs),
            ),
            (
                size: "100%",
                borders: "ALL",
                pane: Pane(TabContent),
            ),
            (
                size: "3",
                borders: "TOP | LEFT | RIGHT",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            pane: Pane(Property(
                                content: [
                                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                                    ),
                                    (kind: Text(" - ")),
                                    (kind: Property(Song(Artist)), style: (fg: "magenta", modifiers: "Bold"),
                                        default: (kind: Text("Unknown"), style: (fg: "yellow", modifiers: "Bold"))
                                    ),
                                    (kind: Text(" - ")),
                                    (kind: Property(Song(Album)),
                                        default: (kind: Text("Unknown Album"))
                                    )
                                ],
                                align: Left
                            )),
                        ),
                        (
                            size: "36",
                            pane: Pane(Property(
                                content: [
                                    (kind: Property(Widget(ScanStatus)), style: (fg: "blue")),
                                    (
                                        kind: Property(Widget(States(
                                            active_style: (fg: "white", modifiers: "Bold"),
                                            separator_style: (fg: "white")))
                                        ),
                                        style: (fg: "dark_gray")
                                    ),
                                ],
                                align: Right
                            )),
                        ),
                    ],
                ),
            ),
            (
                size: "2",
                borders: "LEFT | RIGHT | BOTTOM",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "12",
                            pane: Pane(Property(
                                content: [
                                    (kind: Property(Status(StateV2(
                                        playing_style: (fg: "green", modifiers: "Bold"),
                                        paused_style: (fg: "yellow", modifiers: "Bold"),
                                        stopped_style: (fg: "red", modifiers: "Bold")
                                    )))),
                                ],
                                align: Left
                            )),
                        ),
                        (
                            size: "12",
                            pane: Pane(Property(
                                content: [
                                    (kind: Property(Status(Elapsed))),
                                    (kind: Text(" ")),
                                ],
                                align: Right
                            )),
                        ),
                        (
                            size: "100%",
                            pane: Pane(ProgressBar),
                        ),
                        (
                            size: "12",
                            pane: Pane(Property(
                                content: [
                                    (kind: Text(" ")),
                                    (kind: Property(Status(Duration)))
                                ], align: Left,
                            )),
                        ),
                        (
                            size: "12",
                            pane: Pane(Property(
                                content: [
                                    (kind: Group([
                                        (kind: Text(" (")),
                                        (kind: Property(Status(Bitrate))),
                                        (kind: Text(" kbps) "))
                                    ])),
                                ],
                                align: Right
                            )),
                        ),
                    ]
                ),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [],
                center: [],
                right: []
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    lyrics: (
        timestamp: false
    )
)
