# ------------------------------------------------------------ #
# aliae.yaml - shell aliases and setup                         #
# ------------------------------------------------------------ #

env:
  # default tools
  - name: BROWSER
    value: safari
  - name: EDITOR
    value: nvim
  - name: PAGER
    value: less

  # XDG paths
  - name: XDG_BIN_HOME
    value: "{{ .Home }}/.local/bin"
  - name: XDG_CACHE_HOME # where user-specific non-essential cached data should be written
    value: "{{ .Home }}/.local/var/cache"
  - name: XDG_CONFIG_HOME # where user-specific configurations should be written
    value: "{{ .Home }}/.config"
  - name: XDG_DATA_HOME # where user-specific data files should be written
    value: "{{ .Home }}/.local/share"
  - name: XDG_LIB_HOME
    value: "{{ .Home }}/.local/lib"
  - name: XDG_STATE_HOME # where user-specific state files should be written
    value: "{{ .Home }}/.local/state"

  # tool paths
  - name: DENO_INSTALL_ROOT
    value: '{{ env "XDG_DATA_HOME" }}/deno'
  - name: CARGO_HOME
    value: '{{ env "XDG_DATA_HOME" }}/cargo'
  - name: GOPATH
    value: '{{ env "XDG_DATA_HOME" }}/go'
  - name: LESSHISTFILE
    value: "-" # disable less history
  - name: RUSTUP_HOME
    value: '{{ env "XDG_DATA_HOME" }}/rustup'
  - name: VSCODE_EXTENSIONS
    value: '{{ env "XDG_DATA_HOME" }}/vscode'
  - name: ZDOTDIR
    value: '{{ env "XDG_CONFIG_HOME" }}/zsh'
    if: eq .Shell "zsh"

  # dotfiles
  - name: DOTFILES
    value: "{{ .Home }}/Dotfiles"
  - name: HOMEBREW_BUNDLE_FILE
    value: '{{ env "DOTFILES" }}/util/macos/brew/Brewfile'

  # tool options
  - name: DO_NOT_TRACK # disable telemetry for tools that support this flag
    value: "1"
  - name: BAT_THEME
    value: "Catppuccin Mocha"
  - name: BAT_STYLE
    value: "plain"
  - name: FZF_DEFAULT_OPTS # fzf catppuccin theme
    value: "--height=50% --layout=reverse --border --color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8
      --color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc
      --color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8
      --color=selected-bg:#45475a
      --color=border:#313244,label:#cdd6f4"
  - name: ZVM_CURSOR_STYLE_ENABLED # disable zsh-vi-mode from changing cursor styles
    value: "false"

path:
  - value: |
      /opt/homebrew/bin
      /opt/homebrew/sbin
      $DOTFILES/bin
      $DENO_INSTALL_ROOT/bin
      $CARGO_HOME/bin
      $GOPATH/bin
      $HOME/.local/bin
      /usr/local/sbin
      /usr/local/bin
      /usr/sbin
      /usr/bin
      /sbin
      /bin
  - value: |
      /System/Cryptexes/App/usr/bin
    if: eq .OS "darwin"

alias:
  # nav shortcuts
  - name: ..
    value: cd ..
  - name: ...
    value: cd ../..
  - name: -- -
    value: cd -
  - name: cdr # git repo root
    value: cd $(git rev-parse --show-toplevel)
    type: function

  # dotfiles
  - name: dot-relink
    value: eval $(aliae init zsh --config $DOTFILES/config/aliae/aliae.yaml)
  - name: zsh-reload
    value: exec zsh
    if: eq .Shell "zsh"

  # tool replacements
  - name: vim
    value: nvim
  - name: cat
    value: bat
  - name: cad
    value: bat --diff --style=changes
  - name: ls
    value: eza --classify
  - name: la
    value: eza --all --classify
  - name: ll
    value: eza --all --long --header --classify
  - name: lt
    value: eza --tree --classify --sort=type --ignore-glob .git
  - name: lta
    value: eza --all --tree --classify --sort=type --ignore-glob ".git|.DS_Store"
  - name: ld
    value: eza --only-dirs --classify
  - name: lda
    value: eza --all --only-dirs --classify
  - name: lgt
    value: eza --all --git --long --tree --sort=type --no-permissions --no-filesize --no-user --no-time --git-ignore --ignore-glob .git

  # default options
  - name: mkdir
    value: mkdir -pv
  - name: mv
    value: mv -iv
  - name: cp
    value: cp -Riv
  - name: grep
    value: grep --color=auto
  - name: tokei
    value: tokei --sort lines

  # other niceties
  - name: dud
    value: du -d 1 -h | sort -hr
  - name: duf
    value: du -sh * | sort -hr
  - name: lock
    value: zip -erj
  - name: unlock
    value: unzip -d

  # pretty print PATHs
  - name: path
    value: echo $PATH | tr ":" "\n"
    type: function
  - name: fpath
    value: echo $FPATH | tr ":" "\n"
    type: function

  # import programming language aliases
  - !include "alias/lang.yaml"

  # import macOS aliases
  - !include "alias/mac.yaml"

# link dotfiles
link:
  # shell configs
  - name: "{{ .Home }}/.zshenv"
    target: '{{ env "DOTFILES" }}/config/zsh/.zshenv'
  - name: '{{ env "XDG_CONFIG_HOME" }}/zsh'
    target: '{{ env "DOTFILES" }}/config/zsh'
    mkdir: true
  - name: "{{ .Home }}/.bash_profile"
    target: '{{ env "DOTFILES" }}/config/bash/.bash_profile'
  - name: "{{ .Home }}/.bashrc"
    target: '{{ env "DOTFILES" }}/config/bash/.bashrc'

  # git configs
  - name: '{{ env "XDG_CONFIG_HOME" }}/git'
    target: '{{ env "DOTFILES" }}/config/git'
  - name: '{{ env "XDG_CONFIG_HOME" }}/lazygit'
    target: '{{ env "DOTFILES" }}/config/lazygit'

  # terminal configs
  - name: '{{ env "XDG_CONFIG_HOME" }}/wezterm'
    target: '{{ env "DOTFILES" }}/config/wezterm'
  - name: '{{ env "XDG_CONFIG_HOME" }}/ghostty'
    target: '{{ env "DOTFILES" }}/config/ghostty'
  - name: '{{ env "XDG_CONFIG_HOME" }}/zellij'
    target: '{{ env "DOTFILES" }}/config/zellij'

  # editor configs
  - name: '{{ env "XDG_CONFIG_HOME" }}/nvim'
    target: '{{ env "DOTFILES" }}/config/nvim'
  - name: '{{ env "XDG_CONFIG_HOME" }}/zed'
    target: '{{ env "DOTFILES" }}/config/zed'
    # - name: "{{ .Home }}/Library/Application\ Support/VSCodium/User/settings.json"
    #   target: '{{ env "DOTFILES" }}/config/vscodium/settings.json'
    #   mkdir: true
    #   if: eq .OS "darwin"
  - name: '{{ env "XDG_CONFIG_HOME" }}/VSCodium/User/settings.json'
    target: '{{ env "DOTFILES" }}/config/vscodium/settings.json'
    mkdir: true
    if: eq .OS "linux"

  # sketchybar
  - name: '{{ env "XDG_CONFIG_HOME" }}/sketchybar'
    target: '{{ env "DOTFILES" }}/config/sketchybar'
    if: eq .OS "darwin"

  # other configs
  - name: '{{ env "XDG_CONFIG_HOME" }}/bat'
    target: '{{ env "DOTFILES" }}/config/bat'
  - name: '{{ env "XDG_CONFIG_HOME" }}/oh-my-posh'
    target: '{{ env "DOTFILES" }}/config/oh-my-posh'

  # macOS launch daemons
  - name: "{{ .Home }}/Library/LaunchAgents/com.boldandbrad.CapsLockEscape.plist"
    target: '{{ env "DOTFILES" }}/util/macos/launch_agents/com.boldandbrad.CapsLockEscape.plist'
    if: eq .OS "darwin"
